<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**MOHSIN PARMAR**

Data Scientist

_I am interested in data science because I love mathematics,visualizations and  python programming and mostly importantly, I want to solve real world problems using Data Science._

### The Following Code will display the sum of the first 'n' natural numbers

In [4]:
n= int(input())
print('The sum of the first' ,n, 'natural numbers is', (n*(n+1))//2)

 15

The sum of the first 15 natural numbers is 120

#### Some essential Tools for Data Science
1. Python Programming
2. R Programming
3. MS SQ LServer
4. PowerBI/Tableau

#### Table representing the top 3  countries with lowest population
| SR NO.  | COUNTRY NAME | POPULATION |
| ------ | ------------  | ---------- |
| 1.      | VATICAN CITY  | 800 |
| 2.      | MONTSERRAT   | 4626 |
| 3.      | TUVALU      | 10778 |

[Introduction to Python](https://www.w3schools.com/python/python_intro.asp)